[Unit]
Description=OpenRGB SDK Server
PartOf=niri-session.target

[Service]
ExecStart=/usr/bin/openrgb --server --server-host 127.0.0.1
Restart=always
RestartSec=2

[Install]
WantedBy=niri-session.target
